{% extends "auth/authbase.html" %}

{% block title %}Editar Perfil{% endblock title %}

{% block scripts %}
{{ form.media }}
{% endblock scripts %} ]


{% block authcard %}
<form method="post" enctype="multipart/form-data">
    <div class="mb-6 text-center">
        <h1 class="text-3xl font-semibold">Editar Perfil</h1>
        <p class="italic mt-2 text-lg">Usa los siguientes campos para editar tu información personal</p>
    </div>
    {% csrf_token %}
    
    <div class="auth-input-group">
        {{form}}
    </div>

    <div class="mt-8 flex justify-end items-center">
        {% include "partials/button.html" with text="Guardar Cámbios" %}
    </div>
</form>
{% endblock authcard %}